@import "variables";
@import "bootstrap/bootstrap";
@import "bootswatch/bootswatch";
@import "~keen-ui/dist/keen-ui.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Open+Sans:400,600,700');

.monospace,
code,
pre {
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
  background: #fff;
  color: #212121;
}

.panel-flat {
  box-shadow: none;
}

.btn-link {
  color: @link-color;

  &:hover,
  &:focus,
  &.active {
    color: @link-hover-color;
    background-color: darken(#fff, 12%);
  }
}

a:hover {
  cursor: pointer;
}

.tooltip-element {
  transition: opacity 0.4s ease !important;
}
